body, html {
  margin: 0;
  font-family: arial;
}

.menu-drawer-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

.menu-drawer {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  background-color: #fff;
  list-style-type: none;
  padding: 0;
}

.menu-drawer ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  right: -100%;
  min-height: 100%;
  background-color: #fff;
  list-style-type: none;
  padding: 0;
  color: #000;
  font-weight: normal;
  -webkit-transition: left .5s, right .5s;
  transition: left .5s, right .5s;
}

.menu-drawer li {
  padding: 20px;
}

.menu-drawer li:focus {
  font-weight: bold;
}

.menu-drawer li:hover {
  background-color: #0088ce;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.menu-drawer-title {
  border-bottom: 1px solid #ddd;
  text-align: right;
}

.menu-drawer ul.menu-drawer--focus {
  left: 0;
  right: 0;
}

.menu-drawer ul {
  color: #000;
  font-weight: normal;
}